body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(57, 76, 245, 0.897), rgba(35, 5, 105, 0.938)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.namebox {
  color: aqua;
  font-size: 50px;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(5, 250, 229);
}


.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(10, 10, 10);
  background-color: #4ad0f1;
  text-align: center;
  cursor: pointer;
}
.hero-text button:hover {
  background-color: #1073f5;
  color: rgb(72, 241, 109);
}


.topnav {
overflow: hidden;
background-color: #b20cb8;
position: relative;
}


.topnav #myLinks {
display: none;
}


.topnav a {
color: rgb(47, 12, 175);
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}


.topnav a.icon {
background: rgb(160, 2, 152);
display: block;
position: absolute;
right: 0;
top: 0;
}


.topnav a:hover {
background-color: #1ba2f0;
color: black;
}


.active {
background-color: #c00ce4;
color: rgb(123, 245, 52);
}

.page-container {

   display: flex;
   height: 100%;
   flex-flow: row wrap;
   margin-top: 12px;
   
}


.myinfo {

  /* background-color: #555; /
  flex: 1;
}
.myprofile {
  / background-color: #b32626; */
  flex: 4;


}
.card {
  margin-bottom: 10px ;
  padding: 5px;
  border-radius: 5px;
  background-color: #cf25cf!important;
  box-shadow: 0 2px 5px 0 rgba(135, 247, 90, 0.16), 0 2px 10px 0 rgb(0 0 0 / 12%);
}